* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: clamp(60%, 1% + 2vw, 100%);
   
   --off-white-bg: #edf6f9;
   --blue-gray-timer: #354e61;
   --turquoise-link-credits: #00aaff;
   --light-blue-music-buttons: #d7edf8;
   --light-blue-active-music-buttons: #85d0f6;
}

html:not(.running ) #pause,
html:not(.running ) #reset,
html.running.paused  #pause,
html.running:not(.paused) #play {
   display: none;
}

body {
   font-family: "Comic Mono", monospace;
   background: var(--off-white-bg);
}

button {
   background: transparent;
   border: none;
}

button:hover {
   cursor: pointer;
}

#app.show-music-panel {
   display: flex;
   align-items: center;
   justify-content: center;
   
   height: 100vh;
}

#app:not(.show-music-panel) {
   display: flex;
   justify-content: center;
   align-items: center;

   height: 100vh;
}

#app:not(.show-music-panel) #music-panel {
   visibility: hidden;
   opacity: 0;
   transition: all .8s;
}

#app.show-music-panel #music-panel {
   visibility: visible;
   opacity: 1;
   transition: all .8s;
}

#app.show-music-panel #timer {
   transform: translateX(-13.125rem);
   transition: transform 1s;
}

#timer {
   transition: transform 1s;
}

.timer-wrapper {
   display: flex;

   color: var(--blue-gray-timer);
   font-size: 115px;
   font-weight: 500;
}

#controls {
   display: flex;
   justify-content: space-around;
}

#controls button img {
   width: 3rem;
   pointer-events: none;
}

#music-panel {
   position: absolute;
   left: calc(50vw + 60px);

   display: flex;
   flex-wrap: wrap;
   gap: 2rem;
   width: 19rem;
}

#music-panel .card {
   padding: 2rem;

   background: var(--light-blue-music-buttons);
   border-radius: 2rem;
   transition: .5s;
}

.card img {
   width: 3rem;
   pointer-events: none;
}

#music-panel .card.active {
   background: var(--light-blue-active-music-buttons);
   border-radius: 50%;
   transition: .5s;
}

/* footer */
footer {
   padding: .75rem;
   text-align: center;
}

.credits a {
   color: var(--turquoise-link-credits);
}

/* scrollbar */
::-webkit-scrollbar {
   display: none;
}